<div class="about">
    <div class="row project-information">
      <div class="col-md-4 col-sm-5">
        <h1>Project Information</h1>
      </div>
      <div class="col-md-8 col-sm-7">
        <h2 class="subtitle">Background</h2>
        <div class="content">
          <!--<p>Mobile applications are typically updated more frequently than traditional desktop applications, with many applications being updated
            several times a month. These updates occur for a variety of reasons, including bug fixes, required updates for new phone hardware,
            or feature additions. While the intention is for each release to make the software better, they unfortunately often cause more
            harm than good.</p>-->
        </div>
        <h2 class="subtitle">Motivation</h2>
        <div class="content">
        <!--<p>The goal of this project is to gather application information from as many Android
        application package (APK) files as possible in order to examine correlations between various quality metrics and security characteristics of the
        applications. In particular, some of the metrics we looked at are adherence to coding standards, file size, over- and underpermissions, and any
        defects or security vulnerabilities that may exist.</p
        ><p>Currently, there is no existing data set such as the one we have produced as a result of
        this project. We hope that such a data set will be valuable towards future research.</p>-->
      </div>
      </div>
    </div>
    <div class="row collaborators">
      <div class="col-md-4 col-sm-5">
        <h1>Collaborators</h1>
      </div><div class="col-md-8 col-sm-7">
      <h2 class="subtitle">Jacob Peterson</h2>
      <p class="contact">jrp9988@rit.edu</p>
      <div class="content"><p>Jacob is a fifth-year Software Engineering student at Rochester Institute of Technology,
        and will be graduating in May of 2015.</p>
        <p>His contributions to this project include research to find pre-existing analysis tools, and the design and development of this
          website.</p>
      </div>
      <h2 class="subtitle">Andres Ruiz</h2>
      <p class="contact">ajr2546@rit.edu</p>
      <div class="content"><p>Andres is ...</p>
        <p>His contributions to this project include ...</p>
      </div>
      <h2 class="subtitle">Andrew Filipski</h2>
      <p class="contact">abf1932@rit.edu</p>
      <div class="content"><p>Andrew is ...</p>
        <p>His contributions to this project include ...</p>
      </div>
      <h2 class="subtitle">Daniel Krutz</h2>
      <p class="contact">dxkvse@rit.edu</p>
      <div class="content"><p>Daniel Krutz, Ph.D. has been a lecturer in the Software Engineering department at Rochester Institute of Technology
        for 5 years. He has conducted previous research on software code clone detection, and software engineering pedagogy. </p>
        <p>For this project, he served as project lead, and is the lead author of all publications based off of the project results.</p>
      </div>
    </div>
    </div>
</div>