<div class="about">
    <div class="row project-information">
      <div class="col-md-4 col-sm-5">
        <h1>Project Information</h1>
      </div>
      <div class="col-md-8 col-sm-7">
        <h2 class="subtitle">Background</h2>
        <div class="content">
          <p>Mobile applications have exploded in popularity over the last several years, with over one million Android applications available
            for download on the Google Play store right now. The relative ease of developing and releasing an application on an open platform
            like Android has made it a haven for developers around the world. Currently, a major issue facing open mobile platforms is the
            proliferation of applications with major defects, vulnerabilities, and other security issues. Developers release new versions of
            these applications periodically to fix issues and add new features, but often end up doing more harm than good. </p>
        </div>
        <h2 class="subtitle">Motivation</h2>
        <div class="content">
        <p>The goal of this project is to gather application information from as many Android application package (APK) files and Android git source code
        repositories as possible in order to examine correlations between various quality metrics and security characteristics of the
        applications. We will examine how these correlations evolve over time as new versions of the applications are released. In
        particular, some of the metrics we looked at are adherence to coding standards, file size, lines of code, over and underpermissions,
        and any defects or security vulnerabilities that may exist.</p>
      </div>
      </div>
    </div>
    <div class="row collaborators">
      <div class="col-md-4 col-sm-5">
        <h1>Collaborators</h1>
      </div><div class="col-md-8 col-sm-7">
      <h2 class="subtitle">Jacob Peterson</h2>
      <p class="contact">jrp9988@rit.edu</p>
      <div class="content"><p>Jacob is a fifth-year Software Engineering student at the Rochester Institute of Technology,
        and will be graduating in May of 2015.</p>
        <p>His contributions to this project include research to find and setup pre-existing analysis tools, and the design and development of this
          website.</p>
      </div>
      <h2 class="subtitle">Andres Ruiz</h2>
      <p class="contact">ajr2546@rit.edu</p>
      <div class="content"><p>Andres is a fifth-year Software Engineering student at the Rochester Institute of Technology.</p>
        <p>His contributions to this project include data collection tool development, data collection research and android expertise.</p>
      </div>
      <h2 class="subtitle">Andrew Filipski</h2>
      <p class="contact">abf1932@rit.edu</p>
      <div class="content"><p>Andrew is a fifth-year Software Engineering student at the Rochester Institute of Technology.</p>
        <p>His contributions to this project include statistical analysis of the collected data and the creation of the database.</p>
      </div>
      <h2 class="subtitle">Daniel Krutz</h2>
      <p class="contact">dxkvse@rit.edu</p>
      <div class="content"><p>Daniel Krutz, Ph.D. has been a lecturer in the Software Engineering department at Rochester Institute of Technology
        for 5 years. He has conducted previous research on software code clone detection, and software engineering pedagogy. </p>
        <p>For this project, he served as project lead, and is the lead author of all publications based off of the project results.</p>
      </div>
    </div>
    </div>
</div>
