<head>
  <!-- Custom CSS -->
  <link href="~/assets/stylesheets/home.css" rel="stylesheet">
</head>

<body>

    <!-- Full Width Image Header -->
    <header class="header-image">
      <div class="headline">
        <div class="container">
          <h2>Androsec</h2>
          <h3>Our goal is to better understand mobile applications and how defects and vulnerabilities persist across versions during development</h3>
          <h3>We have currently analyzed <%= @appDatas.size %> different applications with over <%= @versions.size %> versions</h3>
          <a style="margin-top: 50px; color:#ffffff; border-color:#83B600" target="_blank" href="https://github.com/dan7800/AndroidVCS" class="btn btn-lg btn-theme">Download on GitHub</a>
        </div>
      </div>
    </header>

</body>