<body>

    <!-- Full Width Image Header -->
    <header class="header-image">
      <div class="headline">
        <div class="container">
          <h2>Androsec</h2>
          <h3>Our goal is to better understand mobile applications and how defects and vulnerabilities persist across versions during development</h3>
          <h3>We have currently analyzed <%= @appDatas.size %> different applications with over <%= @versions.size %> versions</h3>
          <div style="margin-top: 50px;">
          <!--<a style="color:#ffffff; border-color:#83B600" target="_blank" href="https://github.com/dan7800/AndroidVCS" class="btn btn-lg btn-theme">View on GitHub</a>-->
          <a style="color:#ffffff; border-color:#83B600; margin-right: 50px" target="_self" href="analytics" class="btn btn-lg btn-theme">View Analytics</a>
          <a style="color:#ffffff; border-color:#83B600" target="_blank" href="https://github.com/AndroSec/AndroSecDatabases" class="btn btn-lg btn-theme">Download our Data</a>
          </div>
        </div>
      </div>
    </header>

</body>